@use 'sass:color';

@each $key, $val in $colors {
  // .text-color
  .text-#{$key} {
    color: $val;
  }

  // .bg-color
  .bg-#{$key} {
    background-color: $val;
  }

  @for $i from 1 through 3 {
    $percent: $i * 10;
    $dark: $percent * -1%;
    $light: $percent * 1%;

    // .text-color-light-n
    .text-#{$key}-light-#{$i} {
      color: color.scale($val, $lightness: $light);
    }

    // .text-color-dark-n
    .text-#{$key}-dark-#{$i} {
      color: color.scale($val, $lightness: $dark);
    }

    // .bg-color-light-n
    .bg-#{$key}-light-#{$i} {
      background-color: color.scale($val, $lightness: $light);
    }

    // .bg-color-dark-n
    .bg-#{$key}-dark-#{$i} {
      background-color: color.scale($val, $lightness: $dark);
    }
  }
}

.text-white {
  color: $color-white;
}

.bg-white {
  background-color: $color-white;
}

.text-black {
  color: $color-black;
}

.bg-black {
  background-color: $color-black;
}
