// colors
$color-coal: #191c20;
$color-gray: #dadfe1;
$color-black: #000;
$color-white: #fff;
$color-blue: #1890ff;
$color-indigo: #6563ff;
$color-teal: #38b2ac;
$color-green: #0be881;
$color-yellow: #ffcf00;
$color-orange: #ed8936;
$color-red: #ff4d4f;
$color-pink: #ed64a6;

// context colors
$primary: $color-indigo;
$secondary: $color-blue;
$success: $color-green;
$danger: $color-red;
$info: $color-yellow;

// palettes
$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'danger': $danger,
  'info': $info,
  'coal': $color-coal,
  'gray': $color-gray,
  'blue': $color-blue,
  'indigo': $color-indigo,
  'teal': $color-teal,
  'green': $color-green,
  'yellow': $color-yellow,
  'orange': $color-orange,
  'red': $color-red,
  'pink': $color-pink,
);

// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-md: $base-font-size !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-2xl: $base-font-size * 2.5 !default;

$headings-margin-bottom: 1rem * 0.5 !default;

$h1-font-size: $base-font-size * 2.5 !default;
$h2-font-size: $base-font-size * 2 !default;
$h3-font-size: $base-font-size * 1.75 !default;
$h4-font-size: $base-font-size * 1.5 !default;
$h5-font-size: $base-font-size * 1.25 !default;
$h6-font-size: $base-font-size !default;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
